body{
    color: black;
    background-color: white;
    margin: 50px  200px;
}

.infos {
    position: relative;
    right: 5%;
}

.titulo{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.foto-perfil{
width: 16%
}
img{
    border-radius: 55%;
    position: absolute;
    top: 8px;
    right: 16px;
}

.caixa{
    border-radius: 10px 0 0 10px;
    height: 50px;
    width: 400px;
    margin: 0;
}



.botao{
    border-radius: 0 10px 10px 0;
    background-color:darkgrey;
    margin-left: -3.5px;
}

.botao:hover{
    cursor: pointer;
    background-color:blueviolet;
    color: #fff;
}

