body{
    color: black;
    background-color: white;
    margin: 50px  200px;
}

.titulo{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.foto-perfil{
width: 18%
}
img{
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 16px;
}
